.note_empty{
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-align: center;
    justify-content: center;
    margin: 155px auto;
}