.new-note{
    display: flex;
    background-color: #252525;
    color: #fff;
  }
  
  .new-note__form{
    display: block;
    padding-left: 24px;
  }
  .new-note__title{
    padding-top: 40px;
    font-size: 48px;
  }

  .new-note__buttom{
    display: flex;
    margin-top: 60px;
  }

  .new-note__save{
    margin-left: 260px;
  }



.new-note_add {
    position: fixed;
    top: 85%;
    left: 80%;}
    

    .new-note__back{
      margin-right: 265px;
    }
    

    textarea{
      overflow: scroll;
      font-size: 23px;
      padding-top: 35px ;
      width: 100%;
      
      min-height: 450px;
    }

