header{
    padding-top: 10px;
    padding-left: 24px;
    h1 {
        padding-top: 30px;
       
        font-size: 43px;
      
      
    } 
}

h1 {
    // padding-top: 47px;
    // padding-left: 24px;
    font-size: 43px;
  
  
}

ul, ul li {
	list-style: none;
    padding: 0px;
	margin: 0px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    @media (max-width: 1825px) {
        grid-template-columns: repeat(3, 1fr);
      }
      
      @media (max-width: 1370px) {
        grid-template-columns: repeat(2, 1fr);
        margin: 0 auto;
      }
      @media (max-width: 765px) {
        grid-template-columns: repeat(1, 1fr);
        margin: 0 auto;
      }
}



.Note-List{
    height: 100%;
    overflow-y: scroll;
    min-height:750px ;
    background-color: #252525;
    color: #fff;
}

.note{list-style: none;
    padding: 0px;
	margin: 0px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    @media (max-width: 1825px) {
        grid-template-columns: repeat(3, 1fr);
      }
      
      @media (max-width: 1370px) {
        grid-template-columns: repeat(2, 1fr);
        margin: 0 auto;
      }
      @media (max-width: 765px) {
        grid-template-columns: repeat(1, 1fr);
        margin: 0 auto;
      }
 display: flex;
 justify-content: space-between;
    border-radius: 10px;
    width: 365px;

    margin: 37px 24px 25px 24px;
     @media (max-width:910px){
     min-height: 100px;
     width: 275px;
    }
    @media (max-width:420px){
        width: 315px;
        margin: 25px auto;
    }


}

.note-content{
    padding: 22px 0px 10px 24px;
    text-align: left;
    font-size: 25px;
    font-weight: 700;
    line-height: normal;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: #000;

     &__text{
        padding-top: 5px;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
        font-weight: 400;
        color:#3B3B3B;
        @media (max-width:910px) {
           
        }
        @media (max-width:375px) {
            display: none;
        }
    }
}

.notes a{
    width: 300px;
    cursor: pointer;
}

.new-note__empty{
    color: #FFF;
    
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-align: center;
    justify-content: center;
    
    margin: 155px auto;
}




.note-search__input{
    margin: 0 auto;
     width: 360px;
height: 50px;
border-radius: 30px;
background: #3B3B3B;
}
.note-search__input input{
    padding-left: 38px;
}