.input{
    outline: none;
    padding: 15px;
    white-space: normal; 
    border-radius: 15px;
    height: 100%;
    border: none;
    text-orientation: upright;
    resize: vertical;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
   


}
