
input,
label,
select,
button,
textarea
{
	margin:0;
	border:0;
	padding:0;
	
	background:none;
	line-height:1;
	
	/* Browsers have different default form fonts */
	font-size:13px;
	font-family:Arial;}


  *{
    all:unset;
    display: revert;
}


::-webkit-scrollbar {
  width: 0;
}

.App {
  max-height: 750px;
  min-height: 750px;
  min-width: 415px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 420px;
  border-radius: 4px;
  background: #252525;
  border: 8px solid rgba(0, 0, 0, 0.80);
}
  


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}




