.MainPage{
        max-width: 1860px;
        padding: 15px;
        margin: 0 auto;
        overflow-y: scroll;
        background-color: #252525;
        color: #fff;
    }

    .notes a{
        width: 300px;
        cursor: pointer;
    }

    .pozition_button{

        position: fixed;
        top: 85%;
        left: 80%;
    }


