.NewNote{
    display: flex;
    background-color: #252525;
    color: #fff;
  }
  
  .note__form{
    display: block;

  }
  .note__title{
    padding-top: 40px;
    font-size: 48px;
  }

  .note__buttom{
    display: flex;
    margin-top: 60px;
    justify-content: space-between;
  }



.note_add {
    position: fixed;
    top: 85%;
    left: 80%;}
    

   
    

    textarea{
      width: 490px;
      overflow: scroll;
      font-size: 23px;
      padding-top: 35px ;
      min-height: 450px;
      // @media(max-width: 1440px){
      //   width: calc(100vw - 100px);
      // }
    }

